<form action="/shop/signin" method="POST">
  <div class="login">
    <h1>Log in</h1>
    <input type="text" placeholder="Shopname" name="shopName">
    <input type="text" placeholder="Adress" name="adress">
    <button type="submit">login</button>
  </div>
</form>
