<h2>Register your supermarket!</h2>

<form action="/shop/registerShop" method="POST">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="shopName"><b>Name of store</b></label>
    <input type="text" placeholder="Enter name of store" name="shopName" required>
    <label for="psw"><b>Adress</b></label>
    <input type="adress" placeholder="Enter adress" name="adress" required>
    <hr>
    <button type="submit" class="registerbtn">Register</button>
  </div>
</form>
